---
import Layout from "@layouts/Layout.astro";
const cardHover =
  "transition duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 hover:scale-105 cursor-pointer";
---

<Layout>
  <!-- Título principal -->
  <div
    class="mt-4 mb-6 flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-4 text-center md:text-left"
    data-aos="fade-down"
  >
    <h2 class="text-3xl md:text-4xl font-bold text-gray-600">
      Preguntas frecuentes sobre
    </h2>
    <img
      src="/elhack-negro.png"
      alt="Movapp Logo"
      class="w-28 md:w-32 h-auto"
    />
  </div>

  <!-- Contenedor de las tarjetas (Ajustado para móviles y escritorio) -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-4 md:mx-48 mt-10">
    <!-- Card 1 -->
    <div class={`card bg-white p-4 rounded-xl shadow-lg ${cardHover}`}>
      <h2 class="text-2xl font-bold text-gray_mv">
        Proceso para adquirir EL HACK
      </h2>
      <div class="mt-4">
        <div
          class="subtitle cursor-pointer flex items-center justify-between"
          id="title0"
        >
          <span class="text-lg text-gray_mv font-semibold">
            ¿Cómo puedo adquirir EL HACK?
          </span>
          <span class="text-gray-600" id="icon0">+</span>
        </div>
        <div id="detail0" class="detail hidden mt-2 text-gray-600 text-justify">
          <p>
            Nuestras asistentes de chat te brindarán una primera atención.<br />
            Están capacitadas para atenderte con empatía y de manera profesional.
          </p>
        </div>
      </div>
      <div class="mt-4">
        <div
          class="subtitle cursor-pointer flex items-center justify-between"
          id="title1"
        >
          <span class="text-lg text-gray_mv font-semibold">
            ¿Qué indicaciones debo seguir después del HACK?
          </span>
          <span class="text-gray-600" id="icon1">+</span>
        </div>
        <div id="detail1" class="detail hidden mt-2 text-gray-600 text-justify">
          <p>
            Tenemos el más amplio catálogo de aplicaciones montadeudas sobre las
            que aplicamos el hack ya que tenemos presencia en muchos países de
            latinoamérica.
          </p>
        </div>
      </div>
      <div class="mt-4">
        <div
          class="subtitle cursor-pointer flex items-center justify-between"
          id="title2"
        >
          <span class="text-lg text-gray_mv font-semibold">
            ¿EL HACK lo aplica el asesor?
          </span>
          <span class="text-gray-600" id="icon2">+</span>
        </div>
        <div id="detail2" class="detail hidden mt-2 text-gray-600 text-justify">
          <p>
            Al igual que tú, todos nuestros asesores sufrieron de acoso por
            parte de los montadeudas. <br />
            Llegaste al lugar más adecuado. Tu asesor te escuchará atentamente y
            será empático con tu situación.
          </p>
        </div>
      </div>

      <div class="mt-4">
        <div
          class="subtitle cursor-pointer flex items-center justify-between"
          id="title3"
        >
          <span class="text-lg text-gray_mv font-semibold">
            ¿Cuánto tiempo tarda el proceso de instalación del hack?
          </span>
          <span class="text-gray-600" id="icon3">+</span>
        </div>
        <div id="detail3" class="detail hidden mt-2 text-gray-600 text-justify">
          <p>
            Forma parte de las +16,000 personas que han confiado en nosotros y
            que han podido dejar este mal trago detrás.
          </p>
        </div>
      </div>
    </div>

    <div class={`card bg-white p-4 rounded-xl shadow-lg ${cardHover}`}>
      <h2 class="text-2xl font-bold text-gray_mv">Funcionamiento Del Hack</h2>
      <div class="mt-4">
        <div
          class="subtitle cursor-pointer flex items-center justify-between"
          id="title4"
        >
          <span class="text-lg text-gray_mv font-semibold">
            ¿Cómo empezar el proceso?
          </span>
          <span class="text-gray-600" id="icon4">+</span>
        </div>
        <div id="detail4" class="detail hidden mt-2 text-gray-600">
          <p>
            Este es el detalle de cómo empezar el proceso. <br />
            Aquí proporcionamos los pasos iniciales para que puedas empezar rápidamente.
          </p>
        </div>
      </div>
    </div>

    <div class={`card bg-white p-4 rounded-xl shadow-lg ${cardHover}`}>
      <h2 class="text-2xl font-bold text-gray_mv">Costos</h2>
      <div class="mt-4">
        <div
          class="subtitle cursor-pointer flex items-center justify-between"
          id="title4"
        >
          <span class="text-lg text-gray_mv font-semibold">
            ¿Cómo empezar el proceso?
          </span>
          <span class="text-gray-600" id="icon4">+</span>
        </div>
        <div id="detail4" class="detail hidden mt-2 text-gray-600 text-justify">
          <p>
            Este es el detalle de cómo empezar el proceso. <br />
            Aquí proporcionamos los pasos iniciales para que puedas empezar rápidamente.
          </p>
        </div>
      </div>
    </div>

    <div class={`card bg-white p-4 rounded-xl shadow-lg ${cardHover}`}>
      <h2 class="text-2xl font-bold text-gray_mv">Seguridad De Tus Datos</h2>
      <div class="mt-4">
        <div
          class="subtitle cursor-pointer flex items-center justify-between"
          id="title4"
        >
          <span class="text-lg text-gray_mv font-semibold">
            ¿Cómo empezar el proceso?
          </span>
          <span class="text-gray-600" id="icon4">+</span>
        </div>
        <div id="detail4" class="detail hidden mt-2 text-gray-600 text-justify">
          <p>
            Este es el detalle de cómo empezar el proceso. <br />
            Aquí proporcionamos los pasos iniciales para que puedas empezar rápidamente.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    // Función para alternar los detalles
    const toggleDetail = (index) => {
      const detail = document.getElementById(`detail${index}`);
      const icon = document.getElementById(`icon${index}`);

      // Alternar la visibilidad del detalle
      detail.classList.toggle("hidden");

      // Cambiar el icono de '+' a '-' dependiendo del estado
      if (detail.classList.contains("hidden")) {
        icon.textContent = "+";
      } else {
        icon.textContent = "-";
      }
    };

    // Asignar el evento click para cada subtítulo
    document
      .getElementById("title0")
      .addEventListener("click", () => toggleDetail(0));
    document
      .getElementById("title1")
      .addEventListener("click", () => toggleDetail(1));
    document
      .getElementById("title2")
      .addEventListener("click", () => toggleDetail(2));
    document
      .getElementById("title3")
      .addEventListener("click", () => toggleDetail(3));
    document
      .getElementById("title4")
      .addEventListener("click", () => toggleDetail(4));
  </script>
</Layout>
