---
import Layout from "@layouts/Layout.astro";

const cardHover =
  "transition duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 hover:scale-105 cursor-pointer";
---

<Layout>
  <div
    class="mt-4 mb-6 flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-4 text-center md:text-left"
    data-aos="fade-down"
  >
    <h2 class="text-3xl md:text-4xl font-bold text-gray_mv">
      ¡Síguenos y mantente conectado!
    </h2>
  </div>

  <!-- Descripción introductoria -->
  <div class="mt-6 flex items-center justify-center px-4" data-aos="fade-up">
    <p class="max-w-2xl text-lg text-justify text-gray_mv">
      Creemos que la mejor manera de ayudarte es mantener una comunicación
      constante. A través de nuestras redes sociales, podrás estar al día con
      consejos de seguridad, actualizaciones de productos y contenido exclusivo
      que hemos creado para ti.
    </p>
  </div>

  <h2
    class="mt-6 text-2xl font-bold text-center text-gray_mv"
    data-aos="fade-up"
  >
    Encuéntranos fácilmente
  </h2>

  <section class="mt-5 flex flex-col items-center justify-center px-6 py-5">
    <section
      class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4 items-stretch w-full max-w-5xl"
    >
      <!-- Youtube -->
      <div data-aos="fade-right" class="h-full">
        <div
          class={`h-full flex flex-col justify-between p-6 rounded-2xl bg-white shadow-md ${cardHover}`}
        >
          <div class="flex items-center space-x-3 mb-3">
            <h3 class="font-semibold text-gray-800 text-xl ml-8">Youtube</h3>
            <img src="/youtube-blue.png" alt="youtube-blue" class="h-10 w-10" />
          </div>

          <h3 class="mb-4 font-semibold text-gray-800 text-2xl text-center">
            <span class="counter" data-target="28400">0</span>
          </h3>

          <p class="max-w-2xl text-sm text-justify text-gray_mv">
            Accede a contenido exclusivo, tutoriales sobre El Hack, entrevistas
            con expertos y mucho más. ¡Suscríbete y activa las notificaciones
            para no perderte nada!
          </p>
        </div>
      </div>

      <!-- Facebook -->
      <div data-aos="fade-right" class="h-full">
        <div
          class={`h-full flex flex-col justify-between p-6 rounded-2xl bg-white shadow-md ${cardHover}`}
        >
          <div class="flex items-center space-x-3 mb-3">
            <h3 class="font-semibold text-gray-800 text-xl ml-8">Facebook</h3>
            <img
              src="/facebook-blue.png"
              alt="facebook-blue"
              class="h-10 w-10"
            />
          </div>

          <h3 class="mb-4 font-semibold text-gray-800 text-2xl text-center">
            <span class="counter" data-target="3100">0</span>
          </h3>

          <p class="max-w-2xl text-sm text-justify text-gray_mv">
            Únete a nuestra comunidad en Facebook para mantenerte al tanto de
            las últimas noticias y actualizaciones.
          </p>
        </div>
      </div>

      <!-- Instagram -->
      <div data-aos="fade-right" class="h-full">
        <div
          class={`h-full flex flex-col justify-between p-6 rounded-2xl bg-white shadow-md ${cardHover}`}
        >
          <div class="flex items-center space-x-3 mb-3">
            <h3 class="font-semibold text-gray-800 text-xl ml-8">Instagram</h3>
            <img
              src="/instagram-blue.png"
              alt="facebook-blue"
              class="h-10 w-10"
            />
          </div>

          <h3 class="mb-4 font-semibold text-gray-800 text-2xl text-center">
            <span class="counter" data-target="3800">0</span>
          </h3>

          <p class="max-w-2xl text-sm text-justify text-gray_mv">
            ¡Síguenos para ver tips rápidos, noticias y contenido visual sobre
            cómo proteger tu información!
          </p>
        </div>
      </div>

      <!-- Tiktok -->
      <div data-aos="fade-right" class="h-full">
        <div
          class={`h-full flex flex-col justify-between p-6 rounded-2xl bg-white shadow-md ${cardHover}`}
        >
          <div class="flex items-center space-x-3 mb-3">
            <h3 class="font-semibold text-gray-800 text-xl ml-8">Tiktok</h3>
            <img src="/tiktok-blue.png" alt="facebook-blue" class="h-10 w-10" />
          </div>

          <h3 class="mb-4 font-semibold text-gray-800 text-2xl text-center">
            <span class="counter" data-target="3500">0</span>
          </h3>

          <p class="max-w-2xl text-sm text-justify text-gray_mv">
            Síguenos en TikTok para ver contenido dinámico y divertido sobre
            cómo proteger tus datos y más.
          </p>
        </div>
      </div>
    </section>
  </section>

  <h2
    class="mt-6 text-2xl font-bold text-center text-gray_mv"
    data-aos="fade-up"
  >
    Conoce nuestros canales oficiales de <span class="text-green-500 font-bold"
      >WhatsApp</span
    >
  </h2>

  <!-- Canales WhatsApp -->
  <div
    data-aos="fade-right"
    class="mt-5 flex flex-col items-center justify-center px-6 py-10"
  >
    <div
      class={`flex flex-col justify-center items-center p-6 rounded-2xl bg-white shadow-md ${cardHover} mt-5 w-full lg:w-[40px] xl:w-[500px]`}
    >
      <!-- Primer bloque: Movapp Oficial con WhatsApp -->
      <div class="flex items-center justify-between w-full mb-6">
        <div class="flex flex-col">
          <h3 class="font-semibold text-gray-800 text-xl">Movapp Oficial</h3>
          <p class="text-sm text-gray-600">+52 55 7436 0621</p>
        </div>
        <img src="/whatsapp-blue.png" alt="whatsapp" class="h-10 w-10" />
      </div>

      <!-- Segundo bloque: Movapp Chat Principal con WhatsApp -->
      <div class="flex items-center justify-between w-full mb-6">
        <div class="flex flex-col">
          <h3 class="font-semibold text-gray-800 text-xl">
            Movapp Chat Principal
          </h3>
          <p class="text-sm text-gray-600">+52 55 7876 7442</p>
        </div>
        <img src="/whatsapp-blue.png" alt="whatsapp" class="h-10 w-10" />
      </div>

      <!-- Tercer bloque: Movapp Colombia con WhatsApp -->
      <div class="flex items-center justify-between w-full mb-6">
        <div class="flex flex-col">
          <h3 class="font-semibold text-gray-800 text-xl">Movapp Colombia</h3>
          <p class="text-sm text-gray-600">+57 304 5829040</p>
        </div>
        <img src="/whatsapp-blue.png" alt="whatsapp" class="h-10 w-10" />
      </div>

      <!-- Cuarto bloque: Movapp Ecuador con WhatsApp -->
      <div class="flex items-center justify-between w-full mb-6">
        <div class="flex flex-col">
          <h3 class="font-semibold text-gray-800 text-xl">Movapp Ecuador</h3>
          <p class="text-sm text-gray-600">+593 98 363 9715</p>
        </div>
        <img src="/whatsapp-blue.png" alt="whatsapp" class="h-10 w-10" />
      </div>

      <!-- Quinto bloque: Movapp Perú con WhatsApp -->
      <div class="flex items-center justify-between w-full mb-6">
        <div class="flex flex-col">
          <h3 class="font-semibold text-gray-800 text-xl">Movapp Perú</h3>
          <p class="text-sm text-gray-600">+51 958 102 730</p>
        </div>
        <img src="/whatsapp-blue.png" alt="whatsapp" class="h-10 w-10" />
      </div>
    </div>
  </div>

  <script>
    document.querySelectorAll(".counter").forEach((counter) => {
      const updateCounter = () => {
        const target = +counter.getAttribute("data-target");
        let current = +counter.textContent;
        const increment = target / 500;

        if (current < target) {
          current = Math.ceil(current + increment);
          counter.textContent = current.toLocaleString();
          setTimeout(updateCounter, 1);
        } else {
          counter.textContent = target.toLocaleString();
        }
      };

      updateCounter();
    });
  </script>
</Layout>
